@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-futuristic-bg text-white;
}

/* Define the keyframes for the slide-down animation */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Create a custom class for the slide-down animation */
@layer utilities {
    .animate-slideDown {
        animation: slideDown 0.2s ease-out;
    }
}

/* Define the keyframes for the slide-left animation */
@keyframes slideLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Create a custom class for the slide-left animation */
@layer utilities {
    .animate-slideLeft {
        animation: slideLeft 0.2s ease-out;
    }
}
